.controls {
    display: flex; 
    align-items: center;
    margin-top: 25px;
}

.controls div {
    margin: auto;
}

.controls .counter {
    background-color: purple;
    color: white;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

.controls .clearAll button {
    cursor: pointer;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    border: none;
    height: 32px;
    border-radius: 50px;
}

.controls .clearAll button:hover {
    background-color: orangered;
}
