.inputSection {
  margin-top: 50px;
}

.inputSection label {
  font-weight: bold;
  margin: 5px;
  font-size: 32px;
}

.inputSection input,
.inputSection button {
  font-size: 32px;
  height: 40px;
}

.inputSection button {
  cursor: pointer;
  color: white;
  background-color: green;
}

.inputSection button:hover {
  background-color: darkgreen;
}
